@import "_common"
@import "_header"
@import '_sidebar'

body
    background-color #fff

.sidebar
    display none

#mobile-bar
    &.top
        background-color transparent
        box-shadow none
        .logo
            display none

#hero
    padding 6rem 0 3rem
    margin-bottom 2rem
    background-image url(/images/galaxy.jpg)
    background-position center
    background-color #000
    .inner
        max-width $width
        margin 0 auto
    .centered
        display inline-block
        vertical-align top
        text-align center
        width 100%
    .hero-logo
        width 178px
        height 178px
        margin-bottom 15px
    .install-command
        padding 1em 1.5em
        margin 2em 0
        display none //inline-block
        background #ffffffaa
        border 3px solid lighten($light, 10%)
        font-family Source Code Pro,Monaco,Menlo,Consolas,monospace
        :before
            content '$'
            padding-right 0.7em
            opacity 0.5
    h1
        font-weight bold
        margin 0
        font-size 3.5em
        color #fff
        text-shadow 5px 5px 8px #333
    h2
        font-family $logo-font
        font-weight 500
        font-size 2.4em
        margin 0 0 10px
        display none
    .button
        margin 1em 0
        font-size 1.05em
        font-weight 600
        letter-spacing .1em
    .social-buttons
        list-style-type none
        padding 0
        li
            display inline-block
            vertical-align middle
            margin 0 5px


#tour
    background-color #fff
    section
        width 100%
        display inline-block
        box-sizing border-box
        margin-bottom 2rem
        h3
            font-size 2rem
            color #555
        .image
            img
                max-width 100%
                border 1px solid #ccc
        .details
            font-size 1.2rem
        .centered
            display inline-block
            vertical-align top
            text-align center
            width 100%

#sponsors
    text-align center
    padding 35px 40px 45px
    background-color #f6f6f6
    .inner
        max-width 700px
        margin 0px auto
    h3
        color #999
        font-size .9em
        margin 0 0 10px
    a
        margin 20px 15px 0
        position relative
    a, img
        width 100px
        display inline-block
        vertical-align middle
    img
        transition all .3s ease
        filter contrast(0%)
        &:hover
            filter none
    a.vip
        display block
        margin 30px auto 15px
        width 200px
        img
            width 200px
    .become-sponsor
        margin-top 40px
        font-size .9em
        font-weight 700
        width auto
        background-color transparent

#footer
    padding 20px 0
    text-align center
    a
        font-weight 700
    .social-buttons
        list-style-type none
        padding 0
        li
            display inline-block
            vertical-align middle
            margin 0 8px

@media screen and (min-width: $width)
    #tour
        .inner
            max-width $width
            margin 0 auto
        .details
            float left
            width 500px
            margin-left 2rem
        .image
            float left
            width 300px
            img
                max-width 100%
                border 1px solid #ccc

@media screen and (max-width: $width)
    body
        -webkit-text-size-adjust none
        font-size 14px
    .sidebar
        display block
    #header
        display none
    #mobile-bar
        display block
    #hero
        padding $space 40px 30px
        h1
            font-size 2.5em
        .button
            font-size .9em
    #tour
        .inner
            width 100%
        section
            text-align center
            .image, .details
                float none
                text-align center
                padding 0
                margin 0
            .image
                margin-bottom 1rem
                width 100%
            h3, .details
                padding 1.5rem
