<pre>
<span class="comment">// Query example: filtering, sorting, & paginating</span>

<span class="object">store</span>.<span class="function">query</span>(<span class="object">q</span> => <span class="object">q</span>.<span class="function">findRecords</span>(<span class="string">'planet'</span>)
                  .<span class="function">filter</span>({ <span class="object">attribute</span>: <span class="string">'classification'</span>, <span class="object">value</span>: <span class="string">'terrestrial'</span> })
                  .<span class="function">sort</span>(<span class="string">'name'</span>)
                  .<span class="function">page</span>({ <span class="object">offset</span>: <span class="number">0</span>, <span class="object">limit</span>: <span class="number">10</span> }));
</pre>
