<li class="nav-dropdown-container">
  <a class="nav-link">Community</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li class="nav-github"><a href="https://github.com/orbitjs/orbit" class="nav-link" target="_blank">GitHub</a></li>
    <li class="nav-gitter"><a href="https://gitter.im/orbitjs/orbit.js" class="nav-link" target="_blank">Chat</a></li>
    <li class="nav-twitter"><a href="https://twitter.com/orbitjs" class="nav-link" target="_blank">Twitter</a></li>
  </ul>
</li>
