<a href="http://www.cerebris.com" alt="Cerebris"><img src="/logos/cerebris.png" style="width: 110px"/></a>
<a href="https://exivity.com/" alt="Exivity"><img src="/logos/exivity.svg" style="width: 100px"/></a>
<a href="/sponsor" style="white-space: nowrap">[Your Name Here]</a>
