<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="centered">
      <img class="hero-logo" src="/images/logo.png" alt="Orbit.js">
    </div>
    <div class="centered">
      <h1>Orchestrate your data.</h1>
      <div class="install-command">
        <span class="code">npm install @orbit/data</span>
      </div>
      <p>
        <a class="button white" href="/v0.14/guide/">GET STARTED</a>
      </p>
    </div>
  </div>
</div>

<div id="tour">
  <div class="inner">
    <section>
      <h3>Orbit is a framework for orchestrating access, transformation,
        and synchronization between data sources.</h3>
    </section>

    <section>
      <div class="image">
        <img src="/images/tour/normalized-data.png" alt="Disparate data">
      </div>
      <div class="details">
        <p>Your application may need to interact with data from a variety of
          sources: a REST server, a WebSocket stream, an
          IndexedDB backup, an in-memory store, etc.</p>

        <p>Orbit can coordinate data flows across any number of sources
        through a standard set of interfaces using normalized data structures.</p>
      </dd>
    </section>

    <section>
      <div class="image">
        <img src="/images/tour/change-tracking.png" alt="Deterministic tracking">
      </div>
      <div class="details">
        <p>Data correctness is vital to user trust, so you need a
          deterministic approach to manage it.</p>
        <p>Orbit uses a Git-like approach to track changes across data sources.
        Changes are expressed as "transforms", which are similar to Git commits.
        Logs provide a per-source history. Like Git repos, sources can be
        diffed, forked, merged, and reset.</p>
      </div>
    </section>
    <section>
      <div class="image">
        <img src="/images/tour/connections.png" alt="Connect sources">
      </div>
      <div class="details">
        <p>Not all data should be treated uniformly. Some data is transient,
        while other data can persist for the life of your app. Some changes
        should be made pessimistically and be confirmed by a remote server.
        Other changes can be made optimistically, cached locally, and pushed
        eventually.</p>
        <p>Orbit provides coordination strategies which can be customized to
          the needs of your application.</p>
      </div>
    </section>
    <section>
      <div class="image">
        <img src="/images/tour/offline.png" alt="Offline">
      </div>
      <div class="details">
        <p>In an increasingly mobile world, it's ideal to keep applications
          available even when the Internet is not.</p>
        <p>Orbit provides the tools needed to build robust offline experiences.
          Backup your application's state, including data caches, logs, and
          queues, to browser storage. Query and change local data when offline,
          while queueing changes for synchronization when online again.</p>
      </div>
    </section>
    <section>
      <div class="image">
        <img src="/images/tour/isomorphic.png" alt="Isomorphic">
      </div>
      <div class="details">
        <p>Orbit is isomorphic - it can be run in modern browsers as well
          as in the Node.js runtime.</p>
        <p>Orbit is written in
          <a href="https://www.typescriptlang.org">TypeScript</a>. Its libraries
          are distributed on npm through the
          <a href="https://www.npmjs.com/org/orbit">@orbit</a> organization in
          several module formats and ES language levels.</p>
      </div>
    </section>
    <section>
      <div class="centered">
        <a class="button" href="/v0.14/guide/">LEARN MORE</a>
      </div>
    </section>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <h3>PROUDLY SPONSORED BY</h3>
    <%- partial('partials/sponsors') %>
    <br>
    <a class="become-sponsor button white" href="/sponsor/">Sponsor Development</a>
  </div>
</div>

<div id="footer">
  <ul class="social-buttons">
    <li><a href="https://github.com/orbitjs/orbit" class="nav-link" target="_blank">GitHub</a></li>
    <li><a href="https://gitter.im/orbitjs/orbit.js" class="nav-link" target="_blank">Chat</a></li>
    <li><a href="https://twitter.com/orbitjs" class="nav-link" target="_blank">Twitter</a></li>
  </ul>
  <p>Orbit.js is released under the <a href="https://opensource.org/licenses/MIT" href="_blank">MIT License</a>.
  Copyright &copy; <%- new Date().getFullYear() %> <a href="http://www.cerebris.com">Cerebris Corporation</a>.</p>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
